https://www.kaggle.com/humananalog/keras-generator-for-reading-directly-from-bson

In [1]:
import os, sys, math, io
import numpy as np
import pandas as pd
#import multiprocessing as mp
import bson
import struct

#%matplotlib inline
#import matplotlib.pyplot as plt

#import keras
#from keras.preprocessing.image import load_img, img_to_array
#import tensorflow as tf

from collections import defaultdict
from tqdm import *

In [2]:
data_dir="/media/cvpr/SSD/Cdiscount/data"

train_bson_path = os.path.join(data_dir, "train.bson")
num_train_products = 7069896

test_bson_path = os.path.join(data_dir, "test.bson")
num_test_products = 1768182

## Creating lookup tables

In [3]:
categories_path = os.path.join(data_dir, "category_names.csv")
categories_df = pd.read_csv(categories_path, index_col="category_id")

# Maps the category_id to an integer index. This is what we'll use to
# one-hot encode the labels.
categories_df["category_idx"] = pd.Series(range(len(categories_df)), index=categories_df.index)

categories_df.to_csv("categories.csv")
categories_df.head()

,category_level1,category_level2,category_level3,category_idx
category_id,,,,
1000021794,ABONNEMENT / SERVICES,CARTE PREPAYEE,CARTE PREPAYEE MULTIMEDIA,0
1000012764,AMENAGEMENT URBAIN - VOIRIE,AMENAGEMENT URBAIN,ABRI FUMEUR,1
1000012776,AMENAGEMENT URBAIN - VOIRIE,AMENAGEMENT URBAIN,ABRI VELO - ABRI MOTO,2
1000012768,AMENAGEMENT URBAIN - VOIRIE,AMENAGEMENT URBAIN,FONTAINE A EAU,3
1000012755,AMENAGEMENT URBAIN - VOIRIE,SIGNALETIQUE,PANNEAU D'INFORMATION EXTERIEUR,4

Create dictionaries for quick lookup of category_id to category_idx mapping.

In [4]:
def make_category_tables():
    cat2idx = {}
    idx2cat = {}
    for ir in categories_df.itertuples():
        category_id = ir[0]
        category_idx = ir[4]
        cat2idx[category_id] = category_idx
        idx2cat[category_idx] = category_id
    return cat2idx, idx2cat

In [5]:
cat2idx, idx2cat = make_category_tables()

In [6]:
# Test if it works:
cat2idx[1000012738], idx2cat[5]

(5, 1000012738)

## Reading Bson Files

We store the offsets and lengths of all items, allowing us random access to the items later.

Inspired by code from: https://www.kaggle.com/vfdev5/random-item-access

Note: this takes a few minutes to execute, but we only have to do it once (we'll save the table to a CSV file afterwards).

In [7]:
def read_bson(bson_path, num_records, with_categories):
    rows = {}
    with open(bson_path, "rb") as f, tqdm(total=num_records) as pbar:
        offset = 0
        while True:
            item_length_bytes = f.read(4)
            if len(item_length_bytes) == 0:
                break

            length = struct.unpack("<i", item_length_bytes)[0]

            f.seek(offset)
            item_data = f.read(length)
            assert len(item_data) == length

            item = bson.BSON.decode(item_data)
            product_id = item["_id"]
            num_imgs = len(item["imgs"])

            row = [num_imgs, offset, length]
            if with_categories:
                row += [item["category_id"]]
            rows[product_id] = row

            offset += length
            f.seek(offset)
            pbar.update()

    columns = ["num_imgs", "offset", "length"]
    if with_categories:
        columns += ["category_id"]

    df = pd.DataFrame.from_dict(rows, orient="index")
    df.index.name = "product_id"
    df.columns = columns
    df.sort_index(inplace=True)
    return df

In [8]:
%time train_offsets_df = read_bson(train_bson_path, num_records=num_train_products, with_categories=True)

100%|██████████| 7069896/7069896 [02:09<00:00, 54529.37it/s]

CPU times: user 1min 35s, sys: 31.1 s, total: 2min 6s
Wall time: 2min 22s

In [9]:
train_offsets_df.head()

            num_imgs  offset  length  category_id
product_id
0                  1       0    6979   1000010653
1                  1    6979    7318   1000010653
2                  1   14297    5455   1000004079
3                  1   19752    4580   1000004141
4                  1   24332    6346   1000015539

In [10]:
train_offsets_df.to_csv("train_offsets.csv")

In [11]:
# How many products?
len(train_offsets_df)

7069896

In [12]:
# How many categories?
len(train_offsets_df["category_id"].unique())

5270

In [13]:
# How many images in total?
train_offsets_df["num_imgs"].sum()

12371293

Also create a table for the offsets from the test set.

In [14]:
%time test_offsets_df = read_bson(test_bson_path, num_records=num_test_products, with_categories=False)

100%|██████████| 1768182/1768182 [00:31<00:00, 56109.66it/s]

CPU times: user 21.8 s, sys: 6.57 s, total: 28.4 s
Wall time: 33.8 s

In [15]:
test_offsets_df.head()

            num_imgs  offset  length
product_id
10                 3       0   15826
14                 1   15826    5589
21                 1   21415    7544
24                 1   28959    4855
27                 1   33814    2921

In [16]:
test_offsets_df.to_csv("test_offsets.csv")

## Creating train/validation split
We split on products, not on individual images. Since some of the categories only have a few products, we do the split separately for each category.

This creates two new tables, one for the training images and one for the validation images. There is a row for every single image, so if a product has more than one image it occurs more than once in the table.

In [17]:
def make_val_set(df, split_percentage=0.2, drop_percentage=0.):
    # Find the product_ids for each category.
    category_dict = defaultdict(list)
    for ir in tqdm(df.itertuples()):
        category_dict[ir[4]].append(ir[0])

    train_list = []
    val_list = []
    with tqdm(total=len(df)) as pbar:
        for category_id, product_ids in category_dict.items():
            category_idx = cat2idx[category_id]

            # Randomly remove products to make the dataset smaller.
            keep_size = int(len(product_ids) * (1. - drop_percentage))
            if keep_size < len(product_ids):
                product_ids = np.random.choice(product_ids, keep_size, replace=False)

            # Randomly choose the products that become part of the validation set.
            val_size = int(len(product_ids) * split_percentage)
            if val_size > 0:
                val_ids = np.random.choice(product_ids, val_size, replace=False)
            else:
                val_ids = []

            # Create a new row for each image.
            for product_id in product_ids:
                row = [product_id, category_idx]
                for img_idx in range(df.loc[product_id, "num_imgs"]):
                    if product_id in val_ids:
                        val_list.append(row + [img_idx])
                    else:
                        train_list.append(row + [img_idx])
                pbar.update()
                
    columns = ["product_id", "category_idx", "img_idx"]
    train_df = pd.DataFrame(train_list, columns=columns)
    val_df = pd.DataFrame(val_list, columns=columns)   
    return train_df, val_df

In [18]:
# creating a 80-20 train-val split
# not dropping any products
train_images_df, val_images_df = make_val_set(train_offsets_df, split_percentage=0.1, 
                                              drop_percentage=0.0)

7069896it [00:07, 890783.59it/s]
100%|██████████| 7069896/7069896 [03:38<00:00, 32328.83it/s]

In [19]:
train_images_df.head()

   product_id  category_idx  img_idx
0       36254           619        0
1       42537           619        0
2       55264           619        0
3      104035           619        0
4      114584           619        0

In [20]:
val_images_df.head()

   product_id  category_idx  img_idx
0      292424           619        0
1      292424           619        1
2      292424           619        2
3      311733           619        0
4      311733           619        1

In [21]:
print("Number of training images:", len(train_images_df))
print("Number of validation images:", len(val_images_df))
print("Total images:", len(train_images_df) + len(val_images_df))

Number of training images: 11137481
Number of validation images: 1233812
Total images: 12371293

In [22]:
#Are all categories represented in the train/val split?
len(train_images_df["category_idx"].unique()), len(val_images_df["category_idx"].unique())

(5270, 5270)

In [24]:
# verify that the split really is approximately 80-20:
category_idx = 1004 #some random category
num_train = np.sum(train_images_df["category_idx"] == category_idx) #no of training images of that category
num_val = np.sum(val_images_df["category_idx"] == category_idx)#no of test images of that category
num_val / num_train

0.11881188118811881

In [25]:
# Saving the lookup tables as CSV so that we don't need to repeat the above procedure again.
train_images_df.to_csv("train_images.csv")
val_images_df.to_csv("val_images.csv")

## Lookup table for test set images
Create a list containing a row for each image. If a product has more than one image, it appears more than once in this list.

In [26]:
def make_test_set(df):
    test_list = []
    for ir in tqdm(df.itertuples()):
        product_id = ir[0]
        num_imgs = ir[1]
        for img_idx in range(num_imgs):
            test_list.append([product_id, img_idx])

    columns = ["product_id", "img_idx"]
    test_df = pd.DataFrame(test_list, columns=columns)
    return test_df

In [27]:
#test_offsets_df = pd.read_csv("test_offsets.csv", index_col=0)
test_images_df = make_test_set(test_offsets_df)

1768182it [00:03, 511349.06it/s]

In [28]:
test_images_df.head()

   product_id  img_idx
0          10        0
1          10        1
2          10        2
3          14        0
4          21        0

In [29]:
print("Total Number of test images:", len(test_images_df))

Total Number of test images: 3095080

In [30]:
test_images_df.to_csv("test_images.csv")