This script generates result for one model using file mode.csv

In [18]:
import pandas as pd
import numpy as np
import os
import tqdm
from tqdm import tqdm_notebook
import tables
import math

In [26]:
argmax_df = pd.read_csv("argmax.csv")

In [27]:
argmax_df.head()

   _id  final
0   10    601
1   14   5055
2   21   5055
3   24   3844
4   27   1465

In [28]:
category_df = pd.read_csv("categories.csv", header=None)

In [29]:
index2category=category_df.to_dict()[0]

In [30]:
category2index = {v: k for k, v in index2category.items()}

In [31]:
def generate_result(col):
    '''
    col should be one of the columns of argmax.csv file
    '''
    result_filename="{}.csv".format(col)
    col=str(col)
    
    idx=argmax_df[col].values
    total=len(idx)
    result=[]
    bar = tqdm_notebook(total=total)
    for i in idx:
        result.extend([index2category[i]])
        bar.update()

    res = pd.DataFrame({
            "_id": argmax_df["_id"].values,
            "category_id": np.array(result)
    })
    res.to_csv(result_filename, index=False)

In [32]:
generate_result(col='final')

A Jupyter Widget

In [34]:
df=pd.read_csv("final.csv")

In [35]:
df.head()

   _id  category_id
0   10   1000005605
1   14   1000010653
2   21   1000010653
3   24   1000012447
4   27   1000022508